#wrapper {
  width: 400px;
  position: relative;
  top: 100px;
  border-radius: 7px;
  background-color: #dddddd;
}
#screen {
  width: 100%;
  background-color: #000000;
}
#screen > * {
  position: relative;
}
#cursor {
  top: 5px;
  position: absolute;
  content: "";
  border: 1px solid whitesmoke;
  height: 15px;
}
#result{
  color: lightslategray;
}
#display {
  color: whitesmoke;
  font-size: 15px;
}
